@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-forest-950 text-white font-sans antialiased;
  }
  
  /* Smooth input focus outline removal */
  input:focus {
    outline: none;
  }
}